.heading {
    /*set landing image as background #to be replaced with particle.js animation*/
    height: 50vh;
    padding-top: 100px;
    background: url(../images/landing.png) no-repeat top;
    background-size: cover;
    background-position: center center;
}

.secondary-nav {
    display: flex;
    justify-content: center;
    /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
    box-shadow: 1px 1px 2px 1px rgba(182, 182, 182, 0.3);
}

.secondary-nav-item {
    margin: 0 30px;
    line-height: 50px;
    align-items: center;
}

main {
    padding: 0 10%;
}

.team-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.teamMember-card {
    float: left;
    width: 285px;
    height: 330px;
    box-shadow: 1px 2px 3px rgba(182, 182, 182, 0.3);
    border: none;
    border-radius: 5px;
}

.teamMember-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.teamMember-card-footer {
    padding: 0 15px 10px 15px;
}